
{{#if user.admin}}
<div class="container-fluid d-flex justify-content-between py-3 px-5 bg-dark mb-5 align-items-center text-white">
    <p class="pe-2 fw-medium m-0 fs-6">Bienvenido Super Usuario: {{user.name}}</p>
    <button id="logout" type="button" class="btn btn btn-light btn-sm">Logout</button>
</div>

{{else}}
<div class="container-fluid d-flex justify-content-between py-3 px-5 bg-primary-subtle mb-5 align-items-center">
    <p class="pe-2 fw-medium m-0 fs-6">Bienvenido: {{user.name}}</p>
    <button id="logout" type="button" class="btn btn-outline-secondary btn-sm">Logout</button>
</div>
{{/if}}

<div class="container">
    {{#if areProducts}}
        <h1 class="text-center mb-5">Listado de productos existentes</h1>
        <div class="row g-5 flex-wrap">
            {{#each productsList}}
            <div class="col-md-4 col-xl-3">
                <div class="card" style="height: 400px;">
                    <img height="150" src="#" class="card-img-top w-100 bg-secondary-subtle" alt="">
                    <div class="card-body">
                        <p class="badge text-bg-primary fw-light mt-0 mb-2 bg-info-subtle text-black">{{this.category}}</p>
                        <h5 class="card-title">{{this.title}}</h5>
                        <p class="card-text">{{this.description}}</p>
                        <p class="card-text fw-bold">Price: ${{this.price}}</p>
                        <button id={{this._id}} type="button" class="btn btn-primary btn-sm w-100" onclick="getId(event)">Add To cart</button>
                    </div>
                </div>
            </div>
        {{/each}}
        </div>
        
        {{else}}
        <h1>No Hay productos aun para mostrar</h1>
    {{/if}}
</div>

<script src="/js/index.js"></script>


