<div>
    {{#if areProducts}}
        <h1>Listado de productos existentes</h1>
        <br/>
        <div>
            {{#if hasPrevPage}}
                <a href={{this.prevLink}}><< Anterior</a>
            {{/if}}
            &nbsp;
            {{this.page}}
            &nbsp;
            {{#if hasNextPage}}
                <a href={{this.nextLink}}>Siguiente >></a>
            {{/if}} 
        </div>
        <br/>
        {{#each docs}}
            <div>
                <p>title: {{this.title}}</p>
                <p>description: {{this.description}}</p>
                <p>price: {{this.price}}</p>
                <p>thumbnail: {{this.thumbnail}}</p>
                <p>code: {{this.code}}</p>
                <p>stock: {{this.stock}}</p>
                <p>category: {{this.category}}</p>
            </div>
            <hr>
        {{/each}}
        
        
        {{else}}
        <h1>No Hay productos aun para mostrar</h1>
    {{/if}}
</div>